.dashboard-card {
    .card-footer {
        background-color: transparent;
        border-top: none;
    }

    .card-img-top {
        height: 185px;
        width: 100%;
    }
}

.card {
    a {
        color: #000000;
        
        &:hover {
            text-decoration: none;
        }
    }
}