@import './StudentCount.scss';
@import './SectionTitle.scss';
@import './CreateClassroomDialog.scss';
@import './NewClassCard.scss';
@import './ExploreCard.scss';
@import './DashboardCard.scss';

.card-scroll-region {
    @extend .d-inline;
    @extend .pb-1;

    overflow-x: auto;
    white-space: nowrap;

    & > div.card {
        &:not(:last-child) {
            @extend .mr-2;
        }
        display: inline-flex;
        float: none;
    }

}

.card-row {
    min-height: 370px;
}
