
.student-count {
    background-color: #F0F0F0;
    /*TODO: need to sort the height so it's similar to a button from paragin/bootstrap mixin
      worry about that down the line */
    border-radius: 5px;
    padding: 5px;
}
