.dashboard-card {
    /*height: 370px;
    width: 317px;*/
    .card-footer {
        background-color: transparent;
        border-top: none;
    }

    .card-img-top {
        height: 185px;
        width: 100%;
    }
}