@import './NewClassCard.scss';
@import './DashboardCard.scss';
@import './ExploreCard.scss';

.card-scroll-region {
    @extend .d-inline;
    @extend .pb-1;

    overflow-x: auto;
    white-space: nowrap;

    & > div.card {
        &:not(:last-child) {
            @extend .mr-2;
        }
        display: inline-flex;
        float: none;
    } 

}

